@model CFTenantPortal.Models.EmployeeListVM

@{
    ViewData["Title"] = "Employee List";
}

<h3>Employee List</h3>

@(await Component.InvokeAsync("EmployeeListComp", new { employees = Model.Employees }))
