@model CFTenantPortal.Models.PropertyGroupListVM

@{
    ViewData["Title"] = "Property Groups";
}

<h3>@Model.HeaderText</h3>

@(await Component.InvokeAsync("PropertyGroupListComp", new { propertyGroups = Model.PropertyGroups }))
