@model CFTenantPortal.Models.PropertyOwnerListVM

@{
    ViewData["Title"] = "Property Owner List";
}

<h3>@Model.HeaderText</h3>

@(await Component.InvokeAsync("PropertyOwnerListX", new { propertyOwners = Model.PropertyOwners }))
