@model CFTenantPortal.Models.EmployeeListVM

@{
    ViewData["Title"] = "Employees";
}

<h3>@Model.HeaderText</h3>

<form asp-action="ExportForm">
    <button class="btn btn-primary" type="submit" formaction=@Url.Action("ExportEmployeesForm", new { format = "CSV" })>Export to CSV</button>
</form>

@(await Component.InvokeAsync("EmployeeListComp", new { employeeList = Model }))
