@model CFTenantPortal.Models.PropertyGroupListVM

@{
    ViewData["Title"] = "Property Groups";
}

<h3>@Model.HeaderText</h3>

<form asp-controller="Home" asp-action="AllPropertyGroupList">
    <p>
        <label>Search: <input type="text" name="Search" /></label>
        <input type="submit" class="btn btn-secondary" value="Filter" />
    </p>
</form>

@(await Component.InvokeAsync("PropertyGroupListComp", new { propertyGroupList = Model }))

