@model CFTenantPortal.Models.PropertyOwnerListVM

@{
    ViewData["Title"] = "Property Owners";
}

<h3>@Model.HeaderText</h3>

<form asp-controller="Home" asp-action="AllPropertyOwnerList">
    <p>
        <label>Search: <input type="text" name="Search" /></label>
        <input type="submit" class="btn btn-secondary" value="Filter" />
    </p>
</form>

@(await Component.InvokeAsync("PropertyOwnerListComp", new { propertyOwnerList = Model }))
