@model CFTenantPortal.Models.PropertyListVM

@{
    ViewData["Title"] = "Property List";
}

<h3>@Model.HeaderText</h3>

@(await Component.InvokeAsync("PropertyListComp", new { propertyList = Model }))
