@model CFTenantPortal.Models.PropertyOwnerListVM

@{
    ViewData["Title"] = "Property Owners";
}

<h3>@Model.HeaderText</h3>

@(await Component.InvokeAsync("PropertyOwnerListComp", new { propertyOwnerList = Model }))
